@import url('https://fonts.googleapis.com/css2?family=Anek+Telugu&family=Bebas+Neue&family=Fira+Code:wght@300&family=Inter&family=Oswald:wght@500&family=Playfair+Display&family=Raleway:wght@200;400&family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: 'Roboto';
}

body {
  scroll-behavior: smooth;
}

/* VARIABEL */
:root 
{
  --primary-white     : #ffffff;
  --secondary-white   : #eeeeee;
  --transparent-black : rgba(23, 0, 56, 40%);
  --primary-black     : #000000;
  --second-black      : #111111;
  --secondary-black   : #090016;
  --third-black       : #18003a;
  --fourth-black      : #25005a;
  --primary-purple    : #5f00e5;
}

footer {
  width: 100%;
  padding: 20px;
  color: var(--secondary-white);
  background-color: var(--third-black);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  bottom: 0;
}

footer h2 {
  margin-bottom: 10px;
}

footer a {
  text-decoration: underline;
  color: var(--secondary-white);
}