@import url('https://fonts.googleapis.com/css2?family=Anek+Telugu&family=Bebas+Neue&family=Fira+Code:wght@300&family=Inter&family=Oswald:wght@500&family=Playfair+Display&family=Raleway:wght@200;400&family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'Roboto';
}

body {
  scroll-behavior: smooth;
}

/* VARIABEL */
:root 
{
  --primary-white     : #ffffff;
  --secondary-white   : #eeeeee;
  --third-white       : #f1dbff;
  --transparent-black : rgba(23, 0, 56, 40%);
  --transparent-white : rgba(250, 250, 250, 0.6);
  --primary-black     : #000000;
  --second-black      : #111111;
  --secondary-black   : #090016;
  --third-black       : #18003a;
  --fourth-black      : #25005a;
  --primary-purple    : #5f00e5;
  --secondary-purple  : #f8f4ff;
}

.line {
  width: 100%;
  height: 1px;
  margin: 50px 0;
}

.container_profile {
  width: 800px;
  height: 100vh;
  margin: auto;
}

.profile {
  width: 100%;
  height: 300px;
  background-color: var(--primary-white);
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 0 0 20px 20px;
}

/* EDIT PROFILE */
.profile .toplef {
  list-style: none;
  padding: 10px;
  margin-bottom: 20px;
  display: flex;
  width: 100%;
  border-bottom: 1px solid #ccc;
}

.profile .toplef h3 {
  margin: 0 10px;
}

.profile .toplef a {
  text-decoration: none;
}

/* DETAIL PROFILE */
.profile_detail {
  display: flex;
  align-items: center;
}

.profile_detail_left {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile_detail_left img {
  width: 170px;
  height: 170px;
  border-radius: 50%;
  background-color: #ccc;
}

.profile_detail_right {
  width: 50%;
}

.group_profile_detail_right {
  display: flex;
}

.group_profile_detail_right .profile_username p {
  font-size: 24px;
}
.group_profile_detail_right .profile_username p:nth-child(2) {
  font-size: 15px;
  font-weight: lighter;
}
.group_profile_detail_right .profile_edit_btn a { text-decoration: none;}
.group_profile_detail_right .profile_edit_btn a:hover { text-decoration: underline;}
.group_profile_detail_right .profile_edit_btn a li {
  padding: 6px 10px;
  border: 1px solid #ddd;
  margin: 0 10px;
  list-style: none;
  margin-bottom: 5px;
}

.profile .profile_photo {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.profile .profile_photo img {
  width: 220px;
  height: 220px;
  background-color: #bbb;
  border-radius: 50%;
}

.profile_form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
} 

.profile_form label {
  font-size: 13px;
}

.profile_form ul li input {
  width: 700px;
  border: none;
  outline: none;
  padding: 10px;
  margin: 5px 0;
  border-bottom: 1px solid #ccc;
}

.profile_form button {
  background-color: var(--primary-purple);
  color: var(--primary-white);
  padding: 7px 20px;
  margin: 10px 0;
  border: none;
  text-decoration: none;
  cursor: pointer;
}

/* btn crud */
.profile_btn_crud {
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  width: 800px;
  height: 50px;
  justify-content: space-between;
}
.profile_btn a {
  text-decoration: none;
  font-size: 14px;
  padding: 0 20px;
}
.profile_btn a:hover {
  text-decoration: underline;
}

/* Overlay */
.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(120, 120, 120, 0.1);
  backdrop-filter: blur(5px);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #fff;
  display: block;
  transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
  color: #18c6ff;
  font-weight: bold;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px
  }

  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

span {
  font-size: 35px;
  cursor: pointer
}

.overlay-content form {
  width: 350px;
  height: 400px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--primary-white);
}

.overlay-content form h4 {
  padding: 5px 0;
}

.overlay-content label {
  font-size: 13px;
}

.overlay-content ul li input {
  width: 300px;
  border: none;
  outline: none;
  padding: 10px;
  margin: 5px 0;
  border-bottom: 1px solid #ccc;
}
.overlay-content ul li input:focus {
  background-color: var(--secondary-purple);
}

.overlay-content button {
  background-color: var(--primary-purple);
  color: var(--primary-white);
  padding: 7px 20px;
  margin: 10px 0;
  border: none;
  text-decoration: none;
  cursor: pointer;
}

.back i {
  cursor: pointer;
  font-size: 30px;
}